.app-item
	margin-bottom: 20px;
	&__head
		background: #41d259;
		border-radius: 10px 10px 0 0;
		padding: 7px 0;
		display: flex;
		&-city
			width: 50%;
			padding: 5px 0 5px 32px;
			background url('./1.jpg') 12px 2px no-repeat
			font-size: 15px;
		&-date
			background url('./2.jpg') 0 2px no-repeat
			width: 50%;
			padding: 5px 0 0 30px;
			font-size: 15px;
	&__body
		background: #fff;
		border-radius: 0 0 10px 10px;
		padding: 15px;
		&-head
			font-weight: 700;
			font-size: 16px;
			line-height: 1.5em;
			margin-bottom: 20px;
		&-time
			width: 80px;
			margin: 0 auto 20px;
			text-align: center;
			background: #2d3236;
			color: #fff;
			padding: 7px 0;
			font-weight: 700;
			font-size: 20px;
			border-radius: 7px;
		&-send-signal
			display: block;
			border: none;
			background: #41d259;
			width: 100%;
			cursor: pointer;
			color: #fff;
			font-size: 17px;
			font-weight: 700;
			padding: 10px 0;
			border-radius: 7px;
			outline none